@font-face {
  font-family: "iconfont"; /* Project id 4200544 */
  src: url('./iconfont.woff2?t=1691394280130') format('woff2'),
       url('./iconfont.woff?t=1691394280130') format('woff'),
       url('./iconfont.ttf?t=1691394280130') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-qq1:before {
  content: "\e6fa";
}

.icon-qq2:before {
  content: "\e6da";
}

.icon-QQ:before {
  content: "\e6e3";
}

.icon-QQ1:before {
  content: "\e69c";
}

.icon-weixin1:before {
  content: "\e662";
}

.icon-weixin2:before {
  content: "\e607";
}

.icon-zhifubaozhifu:before {
  content: "\e60d";
}

